Repository hmcts/data-extractor, pull requests merged in 2019-05, with the labels that each got.

#18 Bumping chart-version
  charts/data-extractor-job/Chart.yaml
Labels: ns:data-extractor-job-pr-18

#19 Add config. Add storage client
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/dataextractor/BlobOutputWriterTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/dataextractor/DbTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/dataextractor/ExtractorJsonLinesTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/dataextractor/utils/TestUtils.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/BlobOutputWriter.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/DataExtractorApplication.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/WriterException.java
  src/main/resources/application.conf
  src/test/java/uk/gov/hmcts/reform/dataextractor/DataExtractorApplicationTest.java
  src/test/resources/application.conf
Labels: WIP, ns:data-extractor-job-pr-19

#20 Bump jobs chart version
  charts/data-extractor-job/Chart.yaml
  charts/data-extractor-job/requirements.yaml
Labels: ns:data-extractor-job-pr-20
