Repository hmcts/data-extractor, pull requests merged in 2019-11, with the labels that each got.

#30 Update base image
  Dockerfile
  build.gradle
  charts/data-extractor-job/requirements.yaml
  config/owasp/suppressions.xml
Labels: ns:data-extractor-job-pr-30

#32 Fix job kind in latest chart
  charts/data-extractor-job/Chart.yaml
  charts/data-extractor-job/requirements.yaml
  charts/data-extractor-job/values.yaml
Labels: ns:data-extractor-job-pr-32

#34 Spring integration
  .gitignore
  build.gradle
  charts/data-extractor-job/values.preview.template.yaml
  charts/data-extractor-job/values.yaml
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  lib/AI-Agent.xml
  lombok.config
  src/integrationTest/java/uk/gov/hmcts/reform/dataextractor/BlobOutputWriterTest.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/ApiKeyStreamProvider.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/BlobOutputWriter.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/DataExtractorApplication.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/Factory.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/ManageIdentityStreamProvider.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/OutputStreamProvider.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/config/ApplicationConfig.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/config/DbConfig.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/config/ExtractionData.java
  src/main/java/uk/gov/hmcts/reform/dataextractor/config/Extractions.java
  src/main/resources/application.conf
  src/main/resources/application.yml
  src/main/resources/banner.txt
  src/main/resources/boostrap.yaml
  src/test/java/uk/gov/hmcts/reform/dataextractor/ApiKeyStreamProviderTest.java
  src/test/java/uk/gov/hmcts/reform/dataextractor/BlobOutputWriterTest.java
  src/test/java/uk/gov/hmcts/reform/dataextractor/DataExtractorApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/dataextractor/DataExtractorOutputTest.java
  src/test/java/uk/gov/hmcts/reform/dataextractor/ManageIdentityStreamProviderTest.java
  src/test/java/uk/gov/hmcts/reform/dataextractor/config/ApplicationConfigTest.java
  src/test/resources/application-alt.conf
  src/test/resources/application.conf
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ns:data-extractor-job-pr-34
